.footer {
  width: 100%;
  background: var(--color-bg);
  color: var(--color-text);
  box-shadow: 0 -1px 4px rgb(146 161 176 / 10%);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0.8rem 0;

  .footer-container {
    max-width: 1050px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-left {
    span {
      opacity: 0.7;
    }
  }

  .footer-right {
    display: flex;
		align-items: center;
    gap: 1.5rem;

    a {
      color: var(--color-text);
      text-decoration: none;
      opacity: 0.8;
      transition: opacity 0.2s, color 0.2s;

      &:hover {
        opacity: 1;
        color: var(--color-m);
      }
    }
		
		.logout-btn {
			background: none;
			border: none;
			padding: 0.2rem 0.4rem;
			border-radius: 4px;
			cursor: pointer;
			display: flex;
			align-items: center;
			color: var(--color-danger);
			transition: background 0.2s, color 0.2s;
		}
  }
}

@media (max-width: 600px) {
  .footer {
    .footer-container {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .footer-right {
      justify-content: center;
      gap: 1rem;
    }
  }
}